name: My First Workflow
on: 
  push:
    branches: 
    - main
  workflow_dispatch:

jobs:
  MyFirstJob:
    runs-on: ubuntu-latest

    steps: 
      - run: echo "hello world"

      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: List files in repository
        run: | 
              echo "The repository ${{ github.repository }} contains the following files:"
              tree
  job_1:
    runs-on: ubuntu-latest
    needs: MyFirstJob
    steps:
      - run: "echo Job: ${{ github.job }}"
  job_2:
    runs-on: ubuntu-latest
    needs: job_1
    steps:
      - run: "echo Job: ${{ github.job }}"
  job_3:
    runs-on: ubuntu-latest
    needs: job_1
    steps:
      - run: "echo Job: ${{ github.job }}"
  job_4:
    runs-on: ubuntu-latest
    needs: [job_2, job_3]
    steps:
      - run: "echo Job: ${{ github.job }}"    
